<div class="row">
    <div class="container">
     <form>
        <div class="col-xs-6">
            <div class="form-group">
            <label>Employee Name</label>
            <input type="text" 
            required
            #name = "ngModel"
            class="form-control" 
            [class.is-invaild]="name.invalid"
            name="name" [(ngModel)]="EmployeeName">
            <label>Date of leave</label>
            
            <input type="date" class="form-control" name="sDate" [(ngModel)]="StartDate">
            <label>End of leave</label>
            <input type="date" class="form-control" name="eDate" [(ngModel)]="EndDate">
            <br>
            <button
                class="btn btn-primary"
                (click)="onApplyLeave()">Apply
            </button>
          </div>
        </div>
     </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="container">
        <div class="col-xs-8">
        <div
            class="panel panel-default"
            *ngFor="let detail of leaveDetails">
            <div class="panel-heading">{{ detail.name | uppercase }}
                <div class="pull-right">{{ detail.status }}</div>
            </div>
            <div class="panel-body">
            <p>
                <b>{{ detail.startdate | date:'mediumDate' }}</b>
               <span>To</span> 
                <b>{{ detail.enddate | date:'mediumDate'}}</b>
            
            </p>
            </div>
        </div>
        </div>
    </div>
</div>