
<div class="row">
    <div class="container center">
        <form (ngSubmit)="onLogIn()" #sfname="ngForm">
            <div class="col-xs-6">
                <div class="form-group">
                    <app-alert [message]=error *ngIf=erroroccarance (close)="onDone()"></app-alert>
                    <label>Email</label>
                    <input type="email" required #email="ngModel" class="form-control"
                        [class.is-invaild]="email.invalid" name="email" [(ngModel)]="Email">
                    <label>Password</label>
                    <input type="password" required #password="ngModel" class="form-control"
                        [class.is-invaild]="password.invalid" name="password" [(ngModel)]="Password">
                    <br>
                    <button class="btn btn-primary" [disabled]="!sfname.valid">Log-In
                    </button>
                    <br>
                    <a href="http://localhost:4200/signup"><em>Don't have a account? create account</em></a>
                </div>
            </div>
        </form>
    </div>
</div>
