<div class="row">
    <div class="container">
        <div class="col-xs-8">
            <div
            class="panel panel-default"
            *ngFor = "let leaveDetail of leaveDetails">
           
                <div class="panel-heading">{{ leaveDetail.name }}
                </div>
                <div class="panel-body">
                
                    <p>
                        <b>{{ leaveDetail.startdate }}</b>
                        To
                        <b>{{ leaveDetail.enddate}}</b>
                    </p>
                    <button type="string"
                        class="btn btn-success" (click)="onleaveStatus('Approved')"
                       
                        >Approved
                    </button>
                    
                    <button
                        class="btn btn-danger" (click)="onleaveStatus('Rejected')" 
                     
                        >Rejected
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>